@page
@model WebApp2.Pages.Mar.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mark</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mark?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
